<form [formGroup]="newMovementForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Add new movement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Description" formControlName="description">
             <mat-error *ngIf="detectError('description', 'required')">Fill the field</mat-error>
            <mat-error *ngIf="detectError('description','minlength')">You need 4 characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput type="number"  placeholder="Amount" formControlName="amount">
                <mat-error *ngIf="detectError('amount','min')">You need to put more than 0</mat-error>
                <mat-error *ngIf="isTouched('amount')">You need to put an amount</mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="Date" type="date" formControlName="date" >
                <mat-error *ngIf="detectError('date','required')">You need to fill the field</mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                  <mat-label>Concept</mat-label>
                  <select matNativeControl formControlName="conceptType">
                    <option value="Salary">Salary</option>
                    <option value="Food">Food</option>
                    <option value="Transport">Transport</option>
                    <option value="Others">Others</option>
                  </select>
                  <mat-error *ngIf="detectError('conceptType','required')">Choose a concept</mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="income">Income</mat-radio-button>
            <mat-radio-button value="expense">Expense</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="newMovementForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
