
  <header>
    <h1>{{ title }}</h1>
  </header>

  <main>
    <nav>
      <a href="">Page one</a>
      <a href="">Page two</a>
    </nav>

    <section>
      <article>
        <header>
          <h2>
            ABBalance
          </h2>
        </header>
        <router-outlet></router-outlet>
        <main>Fork this <a href="https://github.com/AtomicBuilders/neutron">Repository</a></main>
        <footer>Use it as a base for web js projects</footer>
      </article>
    </section>

    <aside>
      <ul>
        <li>HTML5</li>
        <li>Flex-box</li>
        <li>ES6</li>
      </ul>
    </aside>
  </main>

  <footer>
    <p>Made by <a href="https://twitter.com/albertobasalo">Alberto Basalo</a></p>
  </footer>


