
body{
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:host,
:host > main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

:host> main > nav {
  order: -1;
  flex-direction: row;
}

:host> main > section {
  flex: 1 1 auto;
}

:host> main > aside {
  display: none;
}

@media (min-width: 768px) {

:host  > main {
    flex-direction: row;
  }


:host  > main > nav,

:host > main > aside {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
  }
}
.top {
  background-color: darkseagreen;
  text-align: center;
}

footer {
  background-color: darkseagreen;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
